{% extends 'base.html' %}

{% block title %} Экзамены {% endblock %}

{% block content %}


<div class="jumbotron text-left">

    <h1>Экзамены {{tag}}</h1>

    {% if exam_list %}
        <table class="table">
            <thead>
            <tr>
                <th>Экзамен</th>
                <th>Дата</th>
                <th>Кол-во законченных вопросов</th>
                <th>Контакт ответственного</th>
            </tr>
            </thead>
            <tbody>
        {% for exam in exam_list %}
            <tr>
                <td><a href="{% url 'exams:exam_page' exam.id %}"> {{exam.name}}</a></td>
                <td>{{exam.date}}</td>
                <td>{{exam.num_finished}} / {{exam.num_question}}</td>
                <td>{{exam.creator}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Экзаменов нет </p>
    {% endif %}

</div>


<div class="card">
<div class="card-body">
<h4 class="card-title">Новый экзамен</h4>

<form action="{% url 'exams:add_exam' %}" method="POST" class="form-inline">
    {% csrf_token %}
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Название экзамена" name="name"><br>
    <input type="date" class="form-control mb-2 mr-sm-2" placeholder="Дата экзамена" name="date"><br>
    <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Кол-во вопросов" name="num_q"><br>
    <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Год" name="year"><br>
    <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Курс" name="grade"><br>
    <button type="submit" class="btn btn-secondary mb-2">Создать</button>
</form>

</div>
</div>


<p></p>
<p><a href="/" class="btn btn-primary" role="button">Назад</a></p>

{% endblock %}